<section>

    <div class="container">

        <h1 class="my-5 text-center"> Customer Transactions </h1>

        <div class="data text-center">

            <div class="d-flex w-100 align-items-baseline">
                
                <span class="me-3">
                    <label for="select" class=" text-start ps-2 fw-medium fs-4">Select Customer : </label>
                </span>
                <span class="flex-grow-1">
                    <select id="select" class="form-select mb-5" [(ngModel)]="selectedCustomer">
                        <option value="0" class="fw-medium" disabled selected>All Customers </option>
                        <option *ngFor="let customer of customers" [value]="customer.id" class="fw-medium">{{customer.name}}</option>
                    </select>  
                </span>
                
                    
            </div>
        
            <table class="table table-hover table-dark text-center mb-4">
                <thead>
                    <tr>
                        <th>Customer name</th>
                        <th>Customer Id</th>
                        <th>Transaction Date</th>
                        <th>Transaction Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of TransactionsWithCustomersName|filter:selectedCustomer">
                        <td>{{transaction.name}}</td>
                        <td>#{{transaction.customer_id}}</td>
                        <td>{{transaction.date}}</td>
                        <td>{{transaction.amount}}</td>
                    </tr>
                </tbody>
            </table>

            <app-chart [transactionArr]="TransactionsWithCustomersName|filter:selectedCustomer"></app-chart>

       </div>

    </div>

    <!-- <app-chart [transactionArr]="TransactionsWithCustomersName|filter:selectedCustomer"></app-chart> -->
</section>